<header class="header">
	<div class="container">
		<div class="header__content">
			<a class="header__logo logo" href="">
				<img class="logo__img" src="./images/logo.svg" alt="" aria-hidden="true">
			</a>

			<a class="header__user header-user" href="/">
				<span class="header-user__bell">
					<svg class="" width="16" height="18">
						<use xlink:href="{{svg}}#bell"></use>
					</svg>
					<span class="header-user__notification"></span>
				</span>
				<span class="header-user__name">
					Аракелян Д.
				</span>
				<img class="header-user__avatar" src="./images/avatar.png" alt="аватар пользователя">
			</a>
		</div>
	</div>
</header>