<div class="main__statistics statistics bgc bdrs">
	<table class="statistics__table">
		<thead class="statistics__head">
			<tr class="statistics__head-row">
				<th class="statistics__head-item statistics__head-item--xl">
					Статистика с
					<span class="statistics__head-item--underline">01.12.22</span>
					по
					<span class="statistics__head-item--underline">08.12.22</span>
				</th>
				<th class="statistics__head-item">Пользователи</th>
				<th class="statistics__head-item">Анонимы</th>
				<th class="statistics__head-item">Всего</th>
			</tr>
		</thead>

		<tbody class="statistics__body">
			<tr class="statistics__body-row">
				<td class="statistics__body-item">Уникальные визиты</td>
				<td class="statistics__body-item">12</td>
				<td class="statistics__body-item">33</td>
				<td class="statistics__body-item">60</td>
			</tr>
			<tr class="statistics__body-row">
				<td class="statistics__body-item">Просмотров контактов</td>
				<td class="statistics__body-item">2</td>
				<td class="statistics__body-item">x</td>
				<td class="statistics__body-item">7</td>
			</tr>
			<tr class="statistics__body-row">
				<td class="statistics__body-item">Добавлений в избранное</td>
				<td class="statistics__body-item">3</td>
				<td class="statistics__body-item">x</td>
				<td class="statistics__body-item">13</td>
			</tr>
			<tr class="statistics__body-row">
				<td class="statistics__body-item">Просмотров портфолио</td>
				<td class="statistics__body-item">22</td>
				<td class="statistics__body-item">87</td>
				<td class="statistics__body-item">156</td>
			</tr>
		</tbody>
	</table>
</div>